@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(47, 24, 75, 0.9);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.alarm {
    background-color: #d283ff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px;
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.datetime {
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.date,
.time {
    font-size: 18px;
    margin-bottom: 10px;
    transition: color 0.3s;
}

button,
select {
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #5a108f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s linear;
}

button:hover {
    background-color: #532b88;
    transform: scale(1.1);
}

.setAlarm {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    animation: slideInUp 1s ease-in-out;
}

#stopAlarm {
    animation: slideInUp 1s ease-in-out;
}

.column {
    flex: 1;
    margin-right: 10px;
}

.column select {
    width: 100%;
    padding: 10px;
    background: transparent;
    border: 1px solid #592e83;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s;
}

.column select:hover {
    border-color: #8b2fc9;
}

#alarm-h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.alarmList {
    display: flex;
    flex-direction: column;
}

.alarmLog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #8b2fc9;
    margin-bottom: 10px;
    border-radius: 5px;
    animation: fadeIn 1s ease-in-out;
}

.btn-delete {
    background-color: #cc0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-delete:hover {
    background-color: #990000;
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}